@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden; 
} 

body {
  background: #111;
}

section {
  overflow: hidden;
  padding: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

section img{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section h2 {
  position: relative;
  color: #fff;
  font-size: 12em;
}